/ProjetoDSW2/nbproject/private/
/ProjetoDSW2/build/
/ProjetoDSW2/nbproject/build-impl.xml
/ProjetoDSw2/nbproject/genfiles.properties
/ProjetoDSW2/nbproject/project.properties
/ProjetoDSW2/nbproject/project.xml
/ProjetoDSW2/dist/